<script setup lang="ts">
import { reactive, computed } from "vue";
import { UserOutlined, LockOutlined } from "@ant-design/icons-vue";

import { requsetApiService } from "../../services/requests-service";
import router from "@/router";

interface FormState {
  username: string;
  password: string;
}
const formState = reactive<FormState>({
  username: "",
  password: "",
});

async function onFinish() {
  const response = await requsetApiService.post<Object>(
    "/api-auth/Auth/Sign",
    formState
  );
  if (response.data.code == 200) {
    localStorage.setItem("access-token", response.data.content.accessToken);
    if (localStorage.getItem("access-token")) {
      router.push("/");
    }
  }
}

const onFinishFailed = (errorInfo: any) => {
  console.log("Failed:", errorInfo);
};
</script>
<template>
  <div
    class="w-full h-full flex flex-col justify-center items-center bg-blue-100"
  >
    <h1 class="text-2xl">Login</h1>
    <div class="border px-4 py-6 rounded-md min-w-[25%] shadow bg-white">
      <a-form
        layout="vertical"
        :model="formState"
        name="normal_login"
        class="login-form"
        @finish="onFinish"
        @finishFailed="onFinishFailed"
      >
        <a-form-item
          label="Username"
          name="username"
          :rules="[{ required: true, message: 'Please input your username!' }]"
        >
          <a-input v-model:value="formState.username">
            <template #prefix>
              <UserOutlined class="site-form-item-icon" />
            </template>
          </a-input>
        </a-form-item>

        <a-form-item
          label="Password"
          name="password"
          :rules="[{ required: true, message: 'Please input your password!' }]"
        >
          <a-input-password v-model:value="formState.password">
            <template #prefix>
              <LockOutlined class="site-form-item-icon" />
            </template>
          </a-input-password>
        </a-form-item>

        <a-button type="primary" html-type="submit" class="login-form-button">
          Log in
        </a-button>
      </a-form>
    </div>
  </div>
</template>
