<script setup lang="ts">
import FM from "../../components/ui/FM.vue";
import { ref } from "vue";

const img = ref<string[]>([]);
function handelEmit(value: string[]) {
  img.value = value;
}
</script>
<template>
  <a-breadcrumb style="margin: 16px 0">
    <a-breadcrumb-item>User</a-breadcrumb-item>
    <a-breadcrumb-item>Bill</a-breadcrumb-item>
  </a-breadcrumb>
  <div :style="{ padding: '24px', background: '#fff', minHeight: '360px' }">
    <div>
      <pre>{{ img }}</pre>
      <FM @file="handelEmit"></FM>
    </div>
  </div>
</template>
