<script setup lang="ts">
import { computed } from "vue";
import { useRoute } from "vue-router";
import AdminLayout from "./layouts/Admin.vue";
import DefaultLayout from "./layouts/Default.vue";

const layoutLists = {
  admin: AdminLayout,
  default: DefaultLayout,
};

const route = useRoute();

const layout = computed(() => {
  let l = route.meta.layout || "";
  return l as keyof typeof layoutLists;
});
</script>
<template>
  <a-config-provider>
    <component :is="layoutLists[layout]"></component>
  </a-config-provider>
</template>
