<script lang="ts" setup>
import logo from "../assets/images/bp_logo_white.png";
import { UserOutlined } from "@ant-design/icons-vue";
import { ref, h } from "vue";

import { useRoute } from "vue-router";
const route = useRoute();

const collapsed = ref<boolean>(false);
const selectedKeys = ref([route.path]);
console.log(route.path);

const menuList = [
  { label: "Home", path: "/" },
  { label: "News", path: "/news" },
];

const profileVisible = ref(false);

function hideProfile() {
  profileVisible.value = false;
}
</script>

<template>
  <a-layout style="min-height: 100vh">
    <a-layout-sider v-model:collapsed="collapsed" collapsible>
      <router-link to="/">
        <img class="!p-4" :src="logo" alt="not found images" />
      </router-link>
      <a-menu
        v-model:selectedKeys="selectedKeys"
        theme="dark"
        mode="inline"
        class="mt-4"
      >
        <a-menu-item v-for="item in menuList" :key="item.path">
          <router-link :to="item.path">
            <pie-chart-outlined />
            <span>{{ item.label }}</span>
          </router-link>
        </a-menu-item>
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header
        class="!bg-white flex justify-between items-center !px-4"
      >
        <div>
          <h3 class="text-2xl text-blue-600 mb-0 font-serif font-bold">
            BUSINESS PORTAL
          </h3>
        </div>
        <a-popover
          placement="bottomRight"
          v-model:visible="profileVisible"
          title="Title"
        >
          <template #content>
            <a @click="hideProfile">Close</a>
          </template>
          <a-button
            class="flex items-center justify-center"
            type="primary"
            :icon="h(UserOutlined)"
            shape="circle"
          ></a-button>
        </a-popover>
      </a-layout-header>
      <a-layout-content style="margin: 0 16px">
        <router-view></router-view>
      </a-layout-content>
      <a-layout-footer style="text-align: center">
        Ant Design ©2018 Created by Ant UED
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>

<style scoped>
#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
</style>
