<template>
  <div class="clearfix">
    <a-upload
      list-type="picture-card"
      v-model:file-list="fileList"
      @preview="handlePreview"
      :before-upload="handleChange"
      @remove="handleRemove"
    >
      <div v-if="fileList.length < 8">
        <plus-outlined />
        <div class="ant-upload-text">Upload</div>
      </div>
    </a-upload>
    <a-modal :open="previewVisible" :footer="null" @cancel="handleCancel">
      <img alt="example" style="width: 100%" :src="previewImage" />
    </a-modal>
  </div>
</template>
<script setup lang="ts">
import { PlusOutlined } from "@ant-design/icons-vue";
import { reactive, ref } from "vue";
import { fileApiService } from "../../services/file-service";

const emit = defineEmits(["file"]);

function getBase64(file: File) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => resolve(reader.result);
    reader.onerror = (error) => reject(error);
  });
}

interface FileItem {
  uid: string;
  name?: string;
  status?: string;
  response?: string;
  percent?: number;
  url?: string;
  preview?: string;
  originFileObj?: any;
}

interface FileInfo {
  file: FileItem;
  fileList: FileItem[];
}

const previewVisible = ref<boolean>(false);
const previewImage = ref<string | undefined>("");

const fileList = ref<FileItem[]>([]);
const fmUrlList = ref<string[]>([]);

const handleCancel = () => {
  previewVisible.value = false;
};
const handlePreview = async (file: FileItem) => {
  if (!file.url && !file.preview) {
    file.preview = (await getBase64(file.originFileObj)) as string;
  }
  previewImage.value = file.url || file.preview;
  previewVisible.value = true;
};

const formData = reactive(new FormData());
const handleChange = async (file: FileInfo | any) => {
  formData.append("fieldName", "images");
  formData.append("file", file);

  const response = await fileApiService.post(
    "/api-fm/StaticFile/Add",
    formData
  );
  if (response.data.code == 200) {
    fmUrlList.value.push(response.data.content.url);
    emit("file", fmUrlList.value);
  }
  return false;
};

const handleRemove = (value: FileItem) => {
  fileList.value.forEach(async (element, index) => {
    if (element == value) {
      const response = await fileApiService.remove(
        "/api-fm/StaticFile/Remove",
        fmUrlList.value[index]
      );
      if (response.data.code == 200) {
        fileList.value.splice(index, 1);
        fmUrlList.value.splice(index, 1);
        emit("file", fmUrlList.value);
      }
    }
  });
};
</script>
<style>
/* you can make up upload button and sample style by using stylesheets */
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
</style>
